<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body class="container">
<div class="container_home">
    <h1>Create your <b>KEBAB</b></h1>
    <img th:src="@{/images/click.webp}" alt="click me">
    <a th:href="@{/design}"><div class="ramka-7"></div></a>
</div>

</body>

</html>